---
layout: default
---

<section class="home">
    <div class="coffee">
        <div class="tshd"></div>
        <div class="bshd"></div>
        <div class="container abs-holder holder-75">
            <div class="abs-col-sec">
                <div class="col col-50">
                    <h1>Matthew De Goes</h1>
                    <h4>Director</h4>
                    <h4>Design</h4>
                    <h4>User Experience</h4>
                </div>
                <div class="col col-50">
                </div>
            </div>
        </div>
        Photo by Charles Postiaux on Unsplash
    </div>
    <div class="nav print-no">
        <div class="abs-holder holder-75">
            <a href="#about">
                <span class="text">About</span>
                <div class="icon"><img src="../images/coffee-link.png" alt="coffee"></div>
            </a>
            <a href="#qa">
                <span class="text">Q&A</span>
                <div class="icon"><img src="../images/coffee-link.png" alt="coffee"></div>
            </a>
            <a href="#skills">
                <span class="text">Abilities</span>
                <div class="icon"><img src="../images/coffee-link.png" alt="coffee"></div>
            </a>
            <a href="#portfolio">
                <span class="text">Portfolio</span>
                <div class="icon"><img src="../images/coffee-link.png" alt="coffee"></div>
            </a>
            <a href="#photo">
                <span class="text">In person</span>
                <div class="icon"><img src="../images/coffee-link.png" alt="coffee"></div>
            </a>
            <a href="#contact">
                <span class="text">Contact</span>
                <div class="icon"><img src="../images/coffee-link.png" alt="coffee"></div>
            </a>
        </div>
    </div>
    <section id="about" class="abs-holder holder-75 abs-opt vertical-space">
        <h2>About Me</h2>
        <h6>Down to Business</h6>
        <p><em>I help businesses design and build the right products for their customers.</em>  I'm a chamption for design and data driven products, a consensus builder, and a UX advocate.</p>
        <p>I see every day as an opportunity to do the best work of my life.</p>
        <h4>User/Customer Experience Design</h4>
        <p>I bring a customer-centric approach to every project I tackle. Using a combination of research, design thinking, and cross-team collaboration, I provide business value by identifying and solving the <em>real</em> problem behind the symptom.</p>
        <h4>Design/Research OPS</h4>
        <p>Bureaucracy I can do without.  Processes, guidelines, and systems of work are essential to project success. 
        <ul>
            <li>The right guidelines to ensure productivity while allowing essential creativity</li>
            <li>The right ceremonies to establish and grow teams</li>
            <li>The right methods for sharing the research generated insights</li>
        </ul>
        <p>My motto for Design/Research OPS is much like the Agile process itself, ship light and fast, then iterate.</p>
        <h4>Team Leadership and Management</h4>
        <p>I make companies and projects better through decisive, responsive leadership, through constructive process and with a passion for people by:</p>
        <ul>
            <li>Running and developing UX Design and Research teams.</li>
            <li>Overseeing, facilitating, and directing company-wide efforts, building consensus and fostering a shared vision for CX/UX.</li>
            <li>Investing in, learning from, and mentoring my teammates and direct reports.</li>
            <li>Knowing my team members and how to use their skills for their personal satisfaciton and the good of the business.</li>
        </ul>
    </section>
    <section id="qa" class="abs-holder holder-75 abs-opt vertical-space print-no">
        <h2>Ask Some Questions</h2>
        <h6>Get some Answers</h6>
        <div class="questions">
            <p>What’s your favorite drink?</p>
            <p>Decaf or regular?</p>
            <p>What is the place of UX and CX?</p>
            <p>Favorite CSS framework?</p>
            <p>What is the secret to personnel management?</p>
            <p>Have any resources that graphics designers could use?</p>
            <p>Show me something pretty?</p>
            <p>Which is more important confidence or humility?</p>
            <p>Favorite professional project?</p>
            <p>Favorite personal project?</p>
            <p>Mac or pc?</p>
            <p>What’s a good book for professional development?</p>
            <p>What happened to your hair?</p>
            <p>Best coffee you've ever had?</p>
            <p>Are you available for freelance and consulting work?</p>
            <p>Favorite Science Fiction novel?</p>
            <p>Is this the real Matthew or has the internet achieved sentience at last?</p>
        </div>
        <div class="answers">
            <img class="avatar" src="../images/mavatar.png" alt="Matthew De Goes Avatar"><p><span class="answer"></span><span class="cursor">|</span></p>
        </div>
    </section>
    <section id="portfolio" class="abs-holder holder-75 abs-opt vertical-space">
        <h2>Portfolio</h2>
        <h6>How my teams and I have won</h6>
        <div class="stats">
            <div class="block">
                <div class="abs-col-sec">
                    <div class="col col-25">
                        <a href="../portfolio.pdf" target="_blank" class="four portfolio"></a>
                    </div>
                    <div class="col col-75">
                        <h4>Design Systems</h4>
                        <p>As Director of User Experience and User Interface, I oversaw and guided the development and launch of our company's first <a href="https://key-design-system.decisiv.com/?path=/story/about--welcome">Design System</a>: a robust, fully realized design system built in React.  It features everything a growing company needs for world-class application development:</p>
                        <ul>
                            <li>Fully developed documentation site with robust designer, tech-writer, and developer resources.</li>
                            <li>Lockstep designer resource library ensures that developer implementation matches mockups 100%.</li>
                            <li>Custom Iconic font for great market customization and iconography.</li>
                            <li>Accessibility features for both the hearing and visually impaired.</li>
                            <li>Consistent UX/UI across the entire library.</li>
                            <li>Built-in support for i18N transaltions.</li>
                            <li>Atom component design.</li>
                            <li>Light & dark themes.</li>
                        </ul>
                        <p>Download the visual portfolio <a href="../portfolio.pdf" target="_blank">here</a></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="abs-col-sec">
                    <div class="col col-25">
                        <a href="../portfolio.pdf" target="_blank" class="three portfolio"></a>
                    </div>
                    <div class="col col-75">
                        <h4>Team Building</h4>
                        <p>Efficiently managed a multi-disciplinary team of 5+, including product managers, user experience designers, and user experience researchers. Increased team satisfaction, engagement, and productivity through workshops, team learning & growth sessions, critiques, and various other ceremonies/processes. Oversaw the career growth for multiple direct reports and actively recruited exceptional talent into the company.</p>
                        <p>Download the visual portfolio <a href="../portfolio.pdf" target="_blank">here</a></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="abs-col-sec">
                    <div class="col col-25">
                        <a href="../portfolio.pdf" target="_blank" class="two portfolio"></a>
                    </div>
                    <div class="col col-75">
                        <h4>E-Commerce Modernization & Consolidation</h4>
                        <p>I worked across departments to overhaul, modernize, and reduce overhead for all customer facing web properties, ultimately shifting from antiquated legacy technologies to modern application frameworks and paradigms. The results of which were increased user engagement, unified brand aesthetic, streamlined customer support, enhanced marketing and increased sales.</p>
                        <p>Download the visual portfolio <a href="../portfolio.pdf" target="_blank">here</a></p>
                    </div>
                </div>
            </div>
            <div class="block">
                <div class="abs-col-sec">
                    <div class="col col-25">
                        <a href="../portfolio.pdf" target="_blank" class="one portfolio"></a>
                    </div>
                    <div class="col col-75">
                        <h4>B2B Application Modernization & Development</h4>
                        <p>Coordinated and actively participated in user experience-driven upgrades to a 17-year old legacy application, leveraging modern design paradigms and best practice user experience research to update and modernize the application. This resulted in numerous upgrades which were highly regarded by the customer and the user base, driving up satisfaction and engagement.</p>
                        <p>Download the visual portfolio <a href="../portfolio.pdf" target="_blank">here</a></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="skills" class="abs-holder holder-75 abs-opt vertical-space">
        <h2>Skills-Experience</h2>
        <h6>Some of, but not all</h6>
        <div class="abs-col-sec">
            <div class="col col-25">
                <div class="block c6">
                    <h3>Leadership</h3>
                    <div class="card">
                        <p>team building</p>
                    </div>
                    <div class="card">
                        <p>project direction</p>
                    </div>
                    <div class="card">
                        <p>excellent communication</p>
                    </div>
                    <div class="card">
                        <p>takes initiative</p>
                    </div>
                    <div class="card">
                        <p>problem solving</p>
                    </div>
                </div>
            </div>
            <div class="col col-25">
                <div class="block c2">
                    <h3>UX & CX</h3>
                    <div class="card">
                        <p>qualitative interviews</p>
                    </div>
                    <div class="card">
                        <p>quantitative analysis</p>
                    </div>
                    <div class="card">
                        <p>persona generation</p>
                    </div>
                    <div class="card">
                        <p>user stories</p>
                    </div>
                    <div class="card">
                        <p>insight generation</p>
                    </div>
                    <div class="card">
                        <p>product design</p>
                    </div>
                </div>
            </div>
            <div class="col col-25">
                <div class="block c1">
                    <h3>Technical</h3>
                    <div class="card">
                        <p>html5</p>
                    </div>
                    <div class="card">
                        <p>sass/css</p>
                    </div>
                    <div class="card">
                        <p>javascript</p>
                    </div>
                    <div class="card">
                        <p>jquery</p>
                    </div>
                    <div class="card">
                        <p>angular</p>
                    </div>
                    <div class="card">
                        <p>git</p>
                    </div>
                    <div class="card">
                        <p>grunt</p>
                    </div>
                </div>
            </div>
            <div class="col col-25">
                <div class="block c5">
                    <h3>Tools</h3>
                    <div class="card">
                        <p>illustrator</p>
                    </div>
                    <div class="card">
                        <p>photoshop</p>
                    </div>
                    <div class="card">
                        <p>figma</p>
                    </div>
                    <div class="card">
                        <p>sketch</p>
                    </div>
                    <div class="card">
                        <p>Pendo</p>
                    </div>
                    <div class="card">
                        <p>FullStory</p>
                    </div>
                    <div class="card">
                        <p>maze</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="abs-holder holder-75 abs-opt vertical-space">
        <div class="abs-col-sec">
            <div class="col col-33">
                <h2>In Grayscale</h2>
                <h6>Every Wrinkle</h6>
                <div class="visual">
                    <div class="controls">
                        <p class="hat"><i class="fas fa-expand"></i><span>"Backup Sandpaper"</span></p>
                        <p class="mind"><i class="fas fa-expand"></i><span>Keen Insights</span></p>
                        <p class="ears"><i class="fas fa-expand"></i><span>Adept Listening Skills</span></p>
                        <p class="eyes"><i class="fas fa-expand"></i><span>20/40 Eye Sight...with Contacts</span></p>
                        <p class="hair"><i class="fas fa-expand"></i><span>Stealthy Grey Beard Hairs</span></p>
                        <p class="shirt"><i class="fas fa-expand"></i><span>Professional but Approachable Shirt</span></p>
                    </div>
                </div>
            </div>
            <div class="col col-66">
                <h2>Contact</h2>
                <h6>How to reach me</h6>
                <div class="links print-no">
                    <a href="https://www.linkedin.com/in/mtdegoes/" target="_blank"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://github.com/mdegoes" target="_blank"><i class="fab fa-github-alt"></i></a>
                    <a href="mailto:mtdegoes@gmail.com" target="_blank"><i class="far fa-envelope"></i></a>
                </div>
                <div class="links print-yes">
                    <a href="https://www.linkedin.com/in/mtdegoes/" target="_blank"><i class="fab fa-linkedin-in"></i> https://www.linkedin.com/in/mtdegoes</i></a>
                    <a href="https://mdegoes.github.io" target="_blank"><i class="fas fa-globe"></i> https://mdegoes.github.io</i></a>
                    <a href="https://github.com/mdegoes" target="_blank"><i class="fab fa-github-alt"></i> https://github.com/mdegoes</a>
                    <a href="mailto:mtdegoes@gmail.com" target="_blank"><i class="far fa-envelope"></i> mtdegoes@gmail.com</i></a>
                </div>
            </div>
        </div>
    </section>
</section>